<h1>Editing franchise</h1>

<%= render 'form' %>

<%= link_to 'Show', client_location_franchise_path(@client, @location, @franchise) %> |
<%= link_to 'Back', client_location_franchises_path(@client) %>
